/*
 Bonjour  cette page  ne devrait  jamais modifier 
 Elle  constitue  le  chapante  du  site  une modification
 Echangera le site. Vous  avez  doit d'ajouter  mais  n'essaie pas 
 de modifier l'un des code  source
*/


/*
 CSS  Pour  le  slide 
*/

/*Le Giff  du slide*/


#slider {position:relative;width:266px;height:60px;z-index:88;overflow:hidden;}
#slider img
{
height:200px;
width:270px;
z-index:88;
position:absolute;
}

.resc
{	
position:fixed;
color:black;
z-index:100;
margin-top:-395px;
}

/*
 CSS  Pour  le  slide 
*/


/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:270px;height:50px;border:0;padding:0;margin:0;z-index:60;display:none}
/* The slices in the Slider */
.nivo-slice {display:block;position:absolute;z-index:50;height:30px;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {position:absolute;z-index:99;right:26px;bottom:3px;background:url(../img/buttons_bg.png) 0 0 no-repeat;padding:5px;padding-right:2px}
.nivo-controlNav a {position:relative;z-index:99;cursor:pointer;text-indent:-5000px;width:12px;height:12px;float:left;margin-right:3px;background:url(../img/buttons.png) right 0 no-repeat}
.nivo-controlNav a.active {background-position:left}
/* Caption styles */
.nivo-caption {height:30px;width:270px;padding-left:30px;position:absolute;bottom:-20px;left:0;background:url(../img/caption_bg.png) repeat;z-index:98}
.nivo-caption strong {display:block;font-size:14px;color:#fff;line-height:1.2em;font-weight:normal;padding:11px 0 5px 0;letter-spacing:-1px}
.nivo-caption span {font-weight:bold}
.nivo-php-caption {}

/*Fin  du slide*/



/*Fin  du slide*/

/*css du corps de la page d'index*/
.Corps_index{
background:#fff;
min-height:auto;

}

#menu
{


background:#f05f40;
	
}

.colr3
{
background:#f05f40;	
	
	
}

.menu
{
margin-top:-20px;
color:#fff;
background:#f05f40;
	
}

#cls ul li a
{
  color:#FFF;
	
}


#menu .navbar
{
background:#f05f40;

}


.monte-timenu
{
margin-top:5px;

}

.monte-tirech
{
margin-top:-15px;

}



.cl26
{
border: 2px solid #000;
}

.col1
{
background:#FFF;

}
.col1 h5
{
font-size:32px;
text-align:center;

}
#col1
{
margin:2px;
}

.cold
{
margin-top:5px;
background:#fff;
}

.col3
{

background:#fff;
height:280px;
}

.col3 img
{
height:270px;
width:950px;

}

.col2
{

width:282px;

}

.col2 h6{

color:#fff;
font-size:16px;

}


/*************** Grande Image ***************/
.img_comp 
{
	
	background:url(../img/pub/4G.gif);
	 background-repeat:no-repeat;
     background-size:cover;	
	 height:480px;
	 position:relative;
	 opacity:0.3;
  
}
.text-center {
  text-align: center;
}

.banner-info h3 {
	
	font-size:46px;
	
}

.banner-info h2 {
	
	font-size:46px;
	
}

.banner-info a {
	text-decoration:none;
	color:#fff;
	padding:15px 23px;
	font-size:1.3em;
	font-weight:400;
	text-transform:uppercase;
	border-radius:6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	background:#eb5367;
}
.banner-info a:hover {
	background: #4F2525;
}
.banner-info {
	
	margin-top:-395px;
 
	position:relative;


}



/*************** 16 Opportuite; ***************/
.texte_apropos{
	padding-bottom:5px;
	
	
	padding-top:5px;
	margin-top:10px;
	
}

.texte-apropos{
    padding-top:10px;
	border:2px solid #000;
	background:#fff;
}
.texte_apropos h3{
	color:#036;
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
}
.texte_apropos p{
	font-size:16px;
	color:#666;
	line-height:1.6;
	text-align:justify;
}
.texte_apropos img{
	margin-right:10px;
	margin-top:4px;
	padding:3px;
}

.text-condition
{
   font-size:12px;
   color:#000;
   text-align:justify;
  font-family:Verdana, Geneva, sans-serif,Times new Roman;
}

/*************** 16 Evenement; ***************/

.texte_apropos1{
	
	
	
}
.texte_apropos1 h3{
	color:#036;
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
}
.texte_apropos1 p{
	font-size:16px;
	color:#666;
	line-height:1.6;
	text-align:justify;
}
.texte_apropos1 img{
	margin-right:10px;
	margin-top:4px;
	padding:3px;
}

.sot
{

margin-top:10px;
background:#fff;
}

.ascenseur
{
overflow:auto;
height:150px;
}




/*
Control face
*/

.face
{
margin-top:6px;

}



/*
Fin  du  control
*/


#network{

}
/*
code css permetant de tracer l'arborescence Attention de le pas modifier
*/
/*Now the CSS*/
* {margin: 0; padding: 0;}

.ascenseurtree
{

overflow:auto;
min-height:100%;
width:100%;
border: solid 2px black;
}/*
code css permetant de tracer l'arborescence
Attention de le pas modifier
*/
/*Now the CSS*/
* {margin: 0; padding: 0;}


/* Gestion du reseau en bulble*/
.treeb ul {
	padding-top: 20px; position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.treeb li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.treeb li::before, .treeb li::after{
	content: '';
	position: absolute; top: 0;
	right: 50%;
	border-top: 2px solid #0000FF;
	width: 50%;
	height: 20px;
}
.treeb li::after{
	right: auto; left: 50%;
	border-left: 2px solid #0000FF;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.treeb li:only-child::after, .treeb li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.treeb li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.treeb li:first-child::before, .treeb li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.treeb li:last-child::before{
	border-right: 2px solid #0000FF;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.treeb li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.treeb ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 2px solid #0000FF;
	width: 0; height: 20px;
}

.treeb li a{
	border: 1px solid #DF6D14;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.treeb li a:hover, .treeb li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #0000FF;
}
/*Connector styles on hover*/
.treeb li a:hover+ul li::after, 
.treeb li a:hover+ul li::before, 
.treeb li a:hover+ul::before, 
.treeb li a:hover+ul ul::before{
	border-color:  #0000FF;
}




* {margin: 0; padding: 0;}


/* Gestion du reseau en bulble*/
.tree ul {
	padding-top: 20px; position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 2px solid #0000FF;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 2px solid #0000FF;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 2px solid #0000FF;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 2px solid #0000FF;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #0000FF;
	padding: 5px 10px;
	text-decoration: none;
	background-color:#fff;
	color: #000;
	width:100px;
	height:auto;
	overflow:Auto;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px 0;
	-webkit-border-radius: 5px 0;
	-moz-border-radius: 5px 0;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects #DF6D14;*/

/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #0000FF;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #0000FF;
}

a .tooltiptext {
    visibility: hidden;
	width:130px;
	height:Auto;
    background-color: #DF6D14;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    bottom: 90%;
 
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
.treerb tr .tooltiptext {
    visibility: hidden;
	width:130px;
	height:Auto;
    background-color: #DF6D14;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    bottom: 90%;
 
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
 .ligneDroite{
Border-right:#fff 1px solid;
}
.ligneGauche{
Border-left:#fff 1px solid;
}

.treer{
color:white;
width:auto;
text-align:center;
margin: 0 auto;
}
.treerb{
color:white;
width:auto;
text-align:center;
margin: 0 auto;
}
.styleinfo{
color: yellow;
}
#reseau{
position:absolute;
height:auto;

}
a .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

li a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#reseau .treerb {
width:30px;
height:30px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	overflow:scroll;
}
#reseau .treerb tr:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

		#color{
			background:#149414;
			width:10px;
			height:5px;
		}
		#color1{
			background:#0000FF;
			width:10px;
			height:5px;
		}
		#color2{
			background:#FF0000;
			width:10px;
			height:5px;
		}
		#color3{
			background:#EF9B0F;
		width:10px;
			height:5px;
		}
		#color4{
			background:#82C46C;
			width:10px;
			height:5px;
		}
		.network{
			padding: 10px;
			margin:5px;
			background:#FFF;
		}


/*Changement de couleur pour  les ecritures */



/*Changement de couleur pour  les ecritures */

.cle
{

color:#E67E30;
}



/*
 CSS  Pour  le  slide 
*/

.text-condition
{
   font-size:12px;
   color:#000;
   text-align:justify;
  font-family:Verdana, Geneva, sans-serif,Times new Roman;
}


/*Changement de couleur pour  les ecritures */

.cle
{

color:#000;
}

.clr2
{
background-color: #f5f5f5;

}

.clr3
{
color: #000;

}
